# Bright Data Credentials & Collector IDs
BRIGHT_DATA_API_KEY=708c0d74-9e97-4a9d-ba94-69bf1fba73a3
BRIGHT_DATA_ZONE=web_unlocker

BRIGHT_DATA_FULLHYD_COLLECTOR=c_mt4huvzfl8yupcmb6
BRIGHT_DATA_HIGHAPE_COLLECTOR=c_mt4no7jl2hsz0xq1t
BRIGHT_DATA_AROUNDU_COLLECTOR=c_mt4nus5z1nhju2014n

# Application Settings
DB_PATH=backend/pipeline.db
LOG_LEVEL=INFO